* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullArea{
    height: 100vh;
    display: flex;
    background-color: rgba(29, 25, 25, 0.801);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formArea{
    margin: 0px 150px;
    border-radius: 20px;
    height: 610px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-content: space-between;
    flex-direction: column;
}

.Description-quest{
    display: flex;
    justify-content:space-around;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    cursor:context-menu;
}

.Info-quest{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(167, 29, 75);
    color: rgb(255, 255, 255);
    padding: 10px;  
    cursor:context-menu;
}
.inputquest{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 20%;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px 15px;
    padding: 15px;
    
}

.firstform{
    display: flex;
    flex-wrap: wrap;   
    padding: 15px; 
}
.optionProf{
    flex-basis: 100%;
    display: flex;

}
.inputEstudante input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 92%;
    border-radius:20px;
    border: none;
    outline: none;
    padding: 15px;
    margin-left: 19px;
}
.inputProfissao select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 30%;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
}
.optionProf select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 200px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
}
.birthdate{
    margin-left: 17px;
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}

.birthdate input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 100%;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
}
.gender {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 020px;
}
.genderInput{
    margin: 20px 0px;
    
}

.profsaude{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px -20px;
}
.inputsaude{
    margin: 20px 85px;
}

.checkprof{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 20%;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 5px;
    padding: 15px;
}
.vacina{    
    flex-basis: 100%;
    margin-top: 20px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}
.inputvacina{
    margin: 20px 0px;
}
.btn-starquest{
    margin-left: 450px;
}
.btn-starquest button{
    width: 200%;
    border-radius: 10px;
    height: 30px;
    background-color: rgba(156, 18, 52, 0.822);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-starquest:hover{
    background-color: rgb(219, 219, 219);
    color: rgba(156, 18, 52, 0.822);
    
}

                                 /*segunda parte */
.formAreaQuest{
    width: 70%;
    margin: 0px 150px;
    border-radius: 20px;
    height: 70%;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-content: space-between;
    flex-direction: column;
}                               

.formquest{
    margin: 0px 150px;
    border-radius: 20px;
    height: 7100px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.datadiagnostico{
    margin-top: 10px;
    margin-left: 11px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    align-items: center;
}

.datadiagnostico input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
    cursor: text;
}
.localdiagnostico {
    margin-top: 17px;
    display: flex;
    align-items: center;
}
.localdiagnostico select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 220px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
    align-items: center;
}
.tipoTeste{
    margin-top: 18px;
}
.tipoTeste select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 220px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
    align-items: center;
}
.internado{
    justify-content: center;
    flex-basis: 100%;
    display: flex;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0px;
}
.internado input {

}
.cidadeExame{
    margin-top: 17px;
}
.cidadeExame select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 225px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 10px;
    padding: 15px;
    align-items: center;
}
.sintomas{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 10px;
}
.inputSintomas{
    margin-top: 8px;
}
.inputSintomas input{
    margin-right: 10px;
}
.inicioSintomas{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.inputInicio input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
    cursor: text;
}
.condicoes{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.inputCondicoes{
    margin-top: 8px;
}

.inputCondicoes input{
}

.situacao{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.inputSituacao{
    margin-top: 8px;
}
.estado{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 10px;
}
.inputEstado {
    margin-top: 8px;
    font-family: 'Courier New', Courier, monospace;
}
.btn-starquest{
}
.btn-starquestone button{
    margin-top: 5%;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    background-color: rgba(168, 15, 54, 0.822);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
}
/*terceira parte*/

.formquestcontato{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formquestcontato input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 225px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 10px;
    padding: 15px;
    align-items: center;
}
.formquestcontato select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 225px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 10px;
    padding: 15px;
    align-items: center;
}
.dataContato{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 10px;
    color: rgb(72, 73, 75);
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-contato{
    border-radius: 20px;
    width: 20%;
    height: 30px;
    background-color: rgba(156, 12, 48, 0.87);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-semContato{
    border-radius: 20px;
    width: 20%;
    height: 30px;
    background-color: rgba(156, 12, 48, 0.87);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-finalizar{
    border-radius: 20px;
    width: 20%;
    height: 30px;
    background-color: rgba(156, 12, 48, 0.87);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
}