* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
}
.espacamentoObesidade{
    display: none;
   }
   
.fullArea{
    display: flex;
    background-color: rgba(29, 25, 25, 0.801);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;
}
.espacamentoum{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.espacamentodois{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#formAreaid{
   margin-top: 5%;
   margin-bottom: 5%;
}

.espacamento{
    display: flex;
    flex-direction: wrap;
    width: 100%;
}
.espacamentointerior{
    width: 45%;
}
.formArea{
    width: 75%;
    min-height: 75vh;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-content: space-between;
    flex-direction: column;
}

.Description-quest{
    display: flex;
    justify-content:space-around;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    cursor:context-menu;
}

.Info-quest{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(167, 29, 75);
    color: rgb(255, 255, 255);
    padding: 10px;  
    cursor:context-menu;
}
.inputquest{
    background-color: rgb(241, 239, 239);
    width: 187px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
    
}
.separacaoInput{
    display: flex;
    padding: 10px;
}
.firstform{
    margin-top: 3%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;   
}
.optionProf{
    display: flex;
    align-items: center;
    justify-content: center;

}
.inputEstudante input{
    background-color: rgb(241, 239, 239);
    border-radius:20px;
    border: none;
    outline: none;
    padding: 17px;
    width: 18.7%;
    margin-left: 40.9%;
    
}

.inputProfissao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}
.inputProfissao select{
    background-color: rgb(241, 239, 239);
    width: 22%;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
}
.optionProf select{
    background-color: rgb(241, 239, 239);
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
}
.birthdate{
    margin-left: 17px;
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}

.birthdate input{
    background-color: rgb(241, 239, 239);
    border-radius:20px;
    border: none;
    width: 90%;
    outline: none;
    margin: 0px 20px;
    padding: 13px;
}
.colunaSaudeGenero{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gender {
    height: 15%;
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.genderInput{
    margin: 20px 10px;
    
}

.profsaude{
    margin: 10px 10px;
    display: flex;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
}

.inputsaude{
    margin: 20px 65px;
}

.checkprof{
    margin-top: 20px;
    margin-left: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 239, 239);
    width: 16%;
    border-radius:20px;
    border: none;
    outline: none;
    padding: 15px;
}
.grauVacina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.vacina{   
    margin-bottom: 5%;
    flex-basis: 100%;
    margin-top: 20px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
}
.inputvacina{
    margin: 20px 0px;
}
.btn-starquest{
    padding-top: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}
.btn-starquest button{
    width: 170px;
    border-radius: 20px;
    height: 30px;
    background-color: rgba(156, 18, 52, 0.918);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;

}
.btn-start1:hover{
    background-color: rgb(129, 16, 54);
    color: rgb(255, 255, 255);
}

                                 /*segunda parte */
.formAreaQuest{
    min-height: 65vh;
    margin-top: 30px;
    width: 70%;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-content: space-between;
    flex-direction: column;
    
    margin-top: 3%;
    margin-bottom: 3%;
}                               

.formquest{
    margin: 0px 150px;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    
   margin-top: 3%;
   margin-bottom: 3%;
}

.datadiagnostico{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    align-items: center;
}

.datadiagnostico input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
    cursor: text;
}
.localdiagnostico {
    margin-top: 17px;
    display: flex;
    align-items: center;
}
.localdiagnostico select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 220px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
    align-items: center;
}
.tipoTeste{
    margin-top: 18px;
}
.tipoTeste select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 220px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
    align-items: center;
}
.internado{
    width: 100%;
    color: aliceblue;
    background-color:rgba(156, 18, 52, 0.904);;
    border-radius:20px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
}
.internado input {

}
.cidadeExame{
    margin-top: 17px;
}
.cidadeExame select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 225px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 10px;
    padding: 15px;
    align-items: center;
}
.sintomas{
    background-color:rgb(241, 239, 239);
    border-radius:20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    width: 100%;
}
.inputSintomas{
    margin-top: 10px;
    width: 100%;
}
.inputSintomas input{
    margin-right: 10px;
}
.inicioSintomas{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.inputInicio input{
    background-color: rgb(241, 239, 239);
    height: 43px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 15px;
    cursor: text;
}
.condicoes{
    background-color:rgb(241, 239, 239);
    border-radius:20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 29px;
}
.situacao{
    color: aliceblue;
    background-color:rgba(156, 18, 52, 0.904);;
    border-radius:20px;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 29px;
}
.inputSituacao{
    margin-top: 8px;
}
.estado{
    background-color:rgb(241, 239, 239);
    border-radius:20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 10px;
    width: 100%;
    flex-basis: 100%;
}
.inputEstado {
    margin-top: 8px;
    font-family: 'Courier New', Courier, monospace;
}
.espacamentoEstado{
    display: flex;
    width: 600px;
}
.espacamentoEstadoum{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.btn-starquest{
}
.btn-starquestone button{
    margin-top: 5%;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    background-color: rgba(156, 18, 52, 0.904);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
}
/*terceira parte*/

.formquestcontato{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formquestcontato input{
    background-color: rgb(241, 239, 239);
    width: 225px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 14px -90px;
    padding: 15px;
    align-items: center;
}
.formquestcontato select{
    background-color: rgb(241, 239, 239);
    height: 43px;
    width: 225px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 10px;
    padding: 15px;
    align-items: center;
}
.dataContato{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 10px;
    color: rgb(72, 73, 75);
}
.btns{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-contato{
    border-radius: 20px;
    width: 40%;
    height: 30px;
    background-color: rgba(156, 12, 48, 0.87);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 10px;
}
.btn-semContato{
    border-radius: 20px;
    width: 40%;
    height: 30px;
    background-color: rgba(156, 12, 48, 0.87);
    color: rgba(248, 248, 248, 0.801);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 10px;
}

.btn-finalizar{
    border-radius: 20px;
    width: 13em;
    height: 30px;
    background-color: rgba(156, 12, 48, 0.87);
    color: rgb(248, 248, 248);
    border: none;
    cursor: pointer;
    border-bottom: 10px;
}

.finalCheckbox{
    width: 65px;
    color: red;
    border-radius: 20px;
}

.espacamentoObesidade{
    display: none;
}

.contato{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
}

.AreaForm3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.realinharBotao{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.btn-finalizar:hover{
    background-color: rgba(131, 15, 25, 0.87);
    color: rgb(248, 248, 248);
}