* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullArea2{
    height: auto;
    display: flex;
    background-color: rgba(29, 25, 25, 0.801);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formAreaQuest2
{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-content: space-between;
    flex-direction: column;
}

#formAreaQuest2{
    margin-top: 5%;
    margin-bottom: 5%;
}
.sintomas{
    margin-bottom: 25px;
}
.nomeEntrevistado{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
}
.nomeEntrevistado input{
    width: 40%;
}
.relacao{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.relacao select{
    width: 40%;
}
.inputrelacao {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
}
.inputrelacao input{
    outline: none;
    border: none;
    margin-bottom: 20px;
    background-color:rgb(241, 239, 239);
    border-radius:20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px 10px;
}
.dataultimocontato{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 20px;
}
.dataultimocontato input{
    margin-top: 10px;
    background-color: rgb(241, 239, 239);
    border-radius:20px;
    border: none;
    outline: none;
    padding: 15px;
    cursor: text;
}
.vinculoUFOP{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vinculoUfop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vinculoUfop select{
    background-color: rgb(241, 239, 239);
    width: 200px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
}
.inputquesteCurso{
    background-color: rgb(241, 239, 239);
    width: 200px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
}
.blocooptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TesteRealizado{
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Resultado{
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TestePositivo{
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TestePositivo button{
    margin-left: 20px;
    width: 20%;
    border-radius: 20px;
    height: 30px;
    background-color: rgba(156, 18, 52, 0.918);
    color: rgb(221, 217, 217);
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.TipoTeste{
    display: flex;
    align-items: center;
    justify-content: center;
}
.TipoTeste select{
    background-color: rgb(241, 239, 239);
    width: 200px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 10px 20px;
    padding: 15px;
}
.btnQ2{
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}